@import '0-plugins/plugins-dir'
@import '1-base/base-dir'
@import '2-modules/modules-dir'
@import '3-partials/partials-dir'
@import '4-layouts/layouts-dir'
@import './../node_modules/jeet/jeet'
// .container-example
//     @include grid-container
//     @include grid-visual
// .column-example
//     @include grid-column(6)
//     height: 600px
//     background-color: #d3d3d3

// ##################
// ----- HEADER -----
// ##################

$parallax-window-height: 75em
$parallax-background-height: $parallax-window-height * 2
$vivid: #3498db
$dark: rgb(51,51,51)
// @include debug
.parallax-window 
  // max-height: $parallax-window-height
  height: 100vh
  overflow: hidden
  position: relative
  text-align: center
  width: 100%

.parallax-static-content
  color: #F4F4F4
  padding: 20% 0
  position: relative
  z-index: 9
  @include grid-container
  .avatar
    @include grid-column(12)
    img
        max-width: 200px
  .heading
    text-align: left
    padding: 25px
    @include center(1060px)
    .title
      display: block
      font:
        size: 3em !important
        weight: 300
    .name
      color: $vivid
    .quote
      padding: 30px 0
      display: inline-block
      font:
        size: 2em
        weight: 300
    .highlight
      display: inline-block
      padding-left: 15px
      font:
        size: 2em !important
      color: $vivid !important
.parallax-background
  background: url("./../img/office.jpg") repeat
  background-position: top
  background-size: contain
    //   background-color: beige
  height: $parallax-background-height
  left: 0
  position: absolute
  top: - $parallax-window-height / 3
  width: 100%
  // height: 100vh
  &:before 
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-image: linear-gradient(to bottom right,#002f4b,darken($vivid,60))
    opacity: .6
.welcome
  text-align: center
  background: $vivid
  color: #F4F4F4
  margin: 0
  h1
    padding: 80px 20px 20px 20px
    font:
      size: 3em
      weight: 300
  p
    padding: 0 2em 100px 2em
    margin: 0 auto
    max-width: 800px

    font:
      size: 1.5em
      weight: 200



.test
  height: 400px
  width: 100%

.about
  background: $dark
  border-bottom: solid 1px #ccc
  margin: 0
  color: #f3f3f3
  .avatar
    img
      @include center(1060px)
      width: 130px
      position: relative
      top: -75px
      // border-radius: 65px
      // background: #F4F4F4
  
  .container
    @include center(1060px)
    margin: 0 auto
    padding-bottom: 100px
    .info-card
      @include column(1/3)
      padding: 5px 50px
      text-align: center
      h1
        font:
          size: 2.2em
          weight: 300
      p
        font:
          size: 1.2em
          weight: 200
      @media screen and (max-width: 600px)
          @include stack()

.skills-overview
  border-bottom: solid 1px #ccc
  margin-top: 100px
  padding-bottom: 100px

  // $custom-grid--two: (columns: 2,gutter: 2rem,)
  .skills-container
    // @include grid-container
    // @include grid-visual
    text-align: center
    @include center(1060px)
    h1
      font:
        size: 3em
    h2
      font: 
        size: 1.5em
        weight: 200
      margin-bottom: 80px
    .skill
      // background: #F4F5F9
      @include column(1/2, $cycle: 2)
      box-sizing: border-box
      border: 1px solid #ededed
      margin-bottom: 10px
      @media screen and (max-width: 600px)
        @include stack()
      



      // box-shadow: 3px 2px 1px #ccc
      border: solid 2px lighten(#ccc,10)
      margin-bottom: 25px
      height: 275px
      border-radius: 0px
      padding: 25px
      margin:
        bottom: 15px
        top: 15px
      i
        color: orange
        float: left
        padding: 25px
      h1
        color: lighten($vivid,10)
        font:
          size: 1.5em
          weight: 300
      p
        text-align: left
        font:
          size: 1.15em
          weight: 200
      &:hover
        // background: rgb(241,64,75)
        // color: #f3f3f3
        // transition: color .2s
        // transition: background .2s
.resume
  @include grid-container
  border-bottom: solid 1px #ccc
  .container
    // @include grid-container
    // width: 80%
    @include center(1060px)
    margin: 0 auto
  .slide-in-left,
  .slide-in-right
    @include column(1/2)
    padding: 100px 20px
    @media screen and (max-width: 600px)
      @include stack()
      text-align: center
      padding: 35px
      h1
        padding-top: 80px
        padding-bottom: 20px
  .slide-in-left
    h1
      font-size: 3em
    p
      font:
        size: 1.5em
        weight: 200
      margin-bottom: 50px
    a
      background: $vivid
      color: #F4F4F4
      padding: 18px
      border-radius: 8px
  .slide-in-right
    li
      position: relative
      background: #999
      border-radius: 50px
      line-height: 40px
      height: 40px
      margin-bottom: 20px
      .bar
        height: 100%
        width: 90%
        background-color: $vivid
        padding-left: 20px
        line-height: 40px
        border-radius: 50px
        .skill
          position: absolute
          line-height: 40px
          color: #F4F4F4
      .bar2
        width: 70%
      .bar3
        width: 65%
      .bar4
        width: 80%
      .rating
        // line-height: 40px
        top: 0
        right: 20px
        color: #F4F4F4
        position: absolute
      // position: absolute
      // background: red
.parallax
  /* The image used */
  background-image: url('./../img/filler.jpg')
  /* Full height */
  height: 300px
  /* Create the parallax scrolling effect */
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative
  &:before 
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-image: linear-gradient(to bottom right,#002f4b,darken($vivid,60))
    opacity: .4
  .content

    color: #fff
    text-align: center
    padding 0 120px 
    padding-top: 140px
    &:after
      content: 'I firmly believe good design should tell a story.'
      font:
        size: 2em
        // family: 'Montserrat', serif
      color: #f3f3f3
      
      padding-top: 140px
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
.work
  @include grid-container
  background: $dark
  color: #F4F4F4
  text-align: center
  padding: 100px 20px
  h1
    font-size: 3em
  h2
    color: #6A6A6A
    font-weight: 200
    padding-bottom: 100px
  .grid-item
    @include grid-column(4)
    &:hover
      background-color: $vivid
    h1
      color: #f3f3f3
    p
      color: #f3f3f3
    @media screen and (max-width: 600px)
      @include stack()
      padding: 25px

.social-links
  // background: rgb(65, 233, 242)
  background: $vivid
  padding: 50px 20px
  .container
    @include grid-container
    width: 80%
    margin: 0 auto
    text-align: center
    i
      color: darken($vivid, 25)
      transition: color .2s
      margin: 20px
      &:hover
        color: #F4F4F4
.contact-me
  @include grid-container
  text-align: center
  padding: 100px 20px
  h1
    font-size: 3.5em
  h2
    font:
      size: 2em
      weight: 200
  form
    @include center(1060px)
    text-align: center
    input
      border: none
    textarea
      border: none
    .container1
      @include center(1060px)
      text-align: center
      padding-bottom: 25px
      margin: 80px 0 40px 0
      // padding: 40px
      .left,
      .right
        @include center(420px)
        @include column(1/2, $cycle:2)
        // @inxlude below(bp)
        text-align: left
        @media screen and (max-width: 600px)
          @include stack()
          // @include center()
          // @include clearfix()
          float: left !important
          margin: 0 auto !important
          min-width: 100%
          padding: 10px 50px
      @media screen and (max-width: 600px)
        margin-bottom: 0
      
        // stack()

      .left
        float: left
      .right
        float: right
      .box
        border-radius: 0
        border-bottom: solid 1px $vivid
    .container2
      @include column(1/1)
      text-align: left
      textarea
        margin: 40px 0
        border-bottom: solid 1px $vivid
        border-radius: 0
        border-bottom: solid 1px $vivid
        @media screen and (max-width: 600px)
          @include stack()
          float: left !important
          margin: 45px auto !important
          min-width: 100%
          margin-top: 0 !important
          
      input
        width: 120px
      @media screen and (max-width: 600px)
        padding: 10px 50px
        // margin-top: 0
footer
  background: rgb(51,51,51)
  padding: 15px 10px
  i
    color: rgb(241,64,75)


.typed-cursor
    opacity: 1
    -webkit-animation: blink 0.7s infinite
    -moz-animation: blink 0.7s infinite
    animation: blink 0.7s infinite



@keyframes blink
    0%
      opacity: 1
    50%  
      opacity: 0
    100%  
      opacity: 1
@-webkit-keyframes blink
    0%
      opacity: 1
    50%  
      opacity: 0
    100%  
      opacity: 1
@-moz-keyframes blink
    0%
      opacity: 1
    50%  
      opacity: 0
    100%  
      opacity: 1



// @media screen and (max-width: 700px)
















