footer
    span.branding BrandName
    p
    | BrandName Zagreba&ccaron;ka 89, 42 000 Vara&zcaron;din, Croatia
    br
    |  Want to work with us? Contact us via 
    span E-Mail
    | .
    #link-icons
        i.fa.fa-envelope-o.fa-lg(aria-hidden='true')
        i.fa.fa-facebook.fa-lg(aria-hidden='true')
        i.fa.fa-twitter.fa-lg(aria-hidden='true')
        i.fa.fa-dribbble.fa-lg(aria-hidden='true')
        i.fa.fa-behance.fa-lg(aria-hidden='true')
    .copyright &copy; 2017 BrandName. All rights reserved.