doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900', rel='stylesheet')
		link(href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900", rel="stylesheet")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
		link(rel='stylesheet', href='css/main.css')
		title Title
	body
		//- include header/header
		#js-parallax-window.parallax-window
			.parallax-static-content
				.heading
					span.title 
						| I am 
						span.name Josh Beyer
						br
						|
						| and I am a Front-End Developer
					h1.quote
						| I didn't invent the internet,
						| I just make it look,  
					span.highlight
			#js-parallax-background.parallax-background
		
		section.welcome
			h1  I'm so happy you're visiting
			p I designed this site so you can get to know me on a personal level. My facination with experience design, some fun works, and more.   
		section.about
			.avatar
				img(src="img/avatar.png", alt="")
			.container
				.info-card
					//- icon
					h1  Web Developer
					p The idea that you can reach a lot of people by just creating a single website. The idea that you can provide valuable information and make their life easier by using something that you created. The ability to empower people from a thousand miles away and they don’t even know you. That to me is priceless.
				.info-card
					//- icon
					h1  Musician
					p  I started teaching myself to play the guitar when I was fourteen, and someday I hope to lean the piano. The beautiful thing is, music an be like a time machine. The lyrics, the melody, the emotions it brings, can take you back to a moment in time like nothing else can.
				.info-card
					//- icon
					h1  Avid Learner
					p Learning is big passion of mine. I am always in the pursuit of learning something new, and teaching myself new skills. 
					blockquoute 
						| “Wisdom is not a product of schooling but of the lifelong attempt to acquire it.” 
						br
						span ― Albert Einstein
		
		
		section.skills-overview
			//- .container
			.skills-container
				h1 What I offer
				h2 These are the skills I'm most proud of
				.skill.skill-one
					i.fa.fa-html5.fa-5x(aria-hidden="true")
					h1 HTML & CSS
					p  I believe in well organized, clean, symantic, and modular HTML and CSS. For readiblity, performance, scalability, and modular development. From taking a mobile first approach, to cross-browser compatibility, the applications work on all devices, all the time.
				.skill.skill-two
					i.fa.fa-code.fa-5x(aria-hidden="true")
					h1 Javascript & jQuery
					p  With a strong foundation in Javascript, I can utilize libraries such as jQuery to radpily speed up the process of front-end development and create beautiful user interfaces.
			.skills-container
				.skill.skill-three
					//- i.fa.fa-css3.fa-5x(aria-hidden="true")
					img.sass-icon(src="http://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg", alt="")
					h1 Preprocessors
					p  Using SASS adds extra functionality to CSS and keeps my CSS scalable and easier to work with. Turning the code into a well-formatted and cross-browser friendly CSS file.
				.skill.skill-four
					//- i.fa.fa-telegram.fa-5x(aria-hidden="true")
					image.framework-icon(src="img/bootstrap.png", alt="")
					h1 Frameworks
					p  With the all the frameworks out, I have a thorough understanding of all the lastest and widely used. Using these saves time setting up the project and allows me to get right into crafting a new beutiful design.
		section.parallax
			.content
				//- h1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, enim!
		section.resume
			.container
				.slide-in-left
					h1 Let's get technical
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque praesentium asperiores distinctio, aliquid earum illo quidem ut libero veniam dolorem!
					a(href="./resume.txt" download="resume.txt") Download my Resume
				.slide-in-right
					ul
						li
							.bar
								span.skill HTML/CSS3
							span.rating 9/10
						li
							.bar.bar2
								span.skill Javascript
							span.rating 7/10
						li
							.bar.bar3
								span.skill jQuery
							span.rating 6/10
						li
							.bar.bar4
								span.skill SASS
							span.rating 8/10
		section.work
			h1 My Work
			h2 Some projects I've worked on
			//- Grid here
			.siema
				a.grid-item(href='')
					img(src='img/temp.jpg', alt='')
					h1 Project
					p Lorem ipsum dolor sit amet, elit. Rem, illum.
				|  
				a.grid-item(href='')
					img(src='img/temp.jpg', alt='')
					h1 Project
					p Lorem ipsum dolor sit amet, elit. Rem, illum.
				|  
				a.grid-item(href='')
					img(src='img/temp.jpg', alt='')
					h1 Project
					p Lorem
			i.fa.fa-chevron-circle-left.fa-3x.prev(aria-hidden="true")
			i.fa.fa-chevron-circle-right.fa-3x.next(aria-hidden="true")

		section.social-links
			//- links here
			.container
				i.fa.fa-twitter.fa-4x(aria-hidden="true")
				i.fa.fa-linkedin.fa-4x(aria-hidden="true")
				i.fa.fa-github.fa-4x(aria-hidden="true")

		section.contact-me
			h1 Say Hello
			h2 If you have a question, I'll answer
			//- .container
			form(action="/contact.php" method="post")
				.container1
					.left
						//- label.name(for='name') Your Name
						.box
							//- i.fa.fa-user-o.fa-2x(aria-hidden="true")
							input(type="text", name='name' placeholder="Your Name")
					.right
						//- label(for='email') Your Email
						.box
							input(type='email', name='email', placeholder="Your Email")
				.container2
					//- label(for='message') Your Message
					.text-box
						textarea(name='message' placeholder="Your Message")
					input(type="submit", value="Send!")
		section.location-view
			//- google maps of stlouis here
		footer
			p 
				| &copy; 2017 - Designed & Coded with 
				i.fa.fa-heart(aria-hidden="true") 
				|  by Josh Beyer


		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')

		script(src='js/header.js')
		//- script(src='js/parallax.js')
		script(src='js/typed/js/typed.js')
		script(src='js/typer.js')
		script(src='js/siema.min.js')
		script.
			const mySiema = new Siema({
				duration: 1000,
				loop: true,
				easing: 'ease-out',
				perPage: 1,
				startIndex: 0,
				draggable: true,
				threshold: 20,
				onInit: () => {},
				onChange: () => {}
			});
			window.setInterval(function(){
				$('.next').click();
			}, 3000);
			document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
			document.querySelector('.next').addEventListener('click', () => mySiema.next());